body{
	background-color:  rgb(46, 59, 73);
	color: #fff;

}
.fondo{
	background-color:rgb(21, 32, 43);
	border: 5px solid #000;
	width: 80%;
	margin-left: auto;
	margin-right:auto;
	height: 1000px;
	
}
#h1conf{
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
}

input[type="submit"]{
	position:relative;
	width:150px;
	height:40px;
	border-radius:20px;
	margin-left: center;
	border:0px;
	background-color:rgb(41, 158, 173);
	font: 14px normal normal uppercase helvetica, arial, serif;
}

p{
	text-shadow:0 1px 0 #fff;
	font-size:24px;
	margin: 0;
}

.form{
	background: rgb(46, 59, 73);
	margin: 0 auto ;
	padding: 30px;
	text-align: center;
	border : 5px solid #000;
	width: 30%;
}

.tabla{
	border:1px solid;
	width:500px;
}
td{
	text-align: center;
	border: 1px solid;
	font: 18px normal normal uppercase helvetica, arial, serif;
}

.btcolor{
	
	width:70px;
	height:40px;
	border-radius:20px;
	margin: 2px;
	border:0px;
	background-color:rgb(29, 119, 129);
	font: 14px normal normal uppercase helvetica, arial, serif;
}
.btcolor:hover{
	background-color: #ffff
}

button {
	position:relative;
	width:100px;
	height:40px;
	border-radius:20px;
	margin-left: center;
	border:0px;
	background-color: rgb(29, 119, 129);
	font: 14px normal normal uppercase helvetica, arial, serif;
}
a{
	color:black;
}
